.content {
    text-align: center;
}

.uulia {
    width: 300px;
    display: block;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 0 5px lavender,
    0 0 15px lavender,
    0 0 30px lavender,
    0 0 50px lavender,
    0 0 100px lavender;
}

.devachki {
  box-shadow: 0 0 5px lavender,
    0 0 15px lavender,
    0 0 30px lavender,
    0 0 50px lavender,
    0 0 100px lavender;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Dancing Script", cursive;
    padding: 50px;
    color: white;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.5em;
    max-width: 600px;
    margin: 20px auto;
    line-height: 1.6;
}

h1:hover {
    letter-spacing: 2px;
    transition: 0.3s;
    color: purple;
   text-shadow: 2px 2px 5px block;
}

img {
    border-radius: 15px;
    box-shadow: 0 4px 15px #00000020;
}
